---
import type { GetStaticPaths } from 'astro';
import Layout from '@/layouts/Layout.astro';

export const getStaticPaths = (() => {
  return [
    { params: { id: '1' } },
    { params: { id: '2' } },
    { params: { id: '3' } },
  ];
}) satisfies GetStaticPaths;

const { id } = Astro.params;
---

<Layout
  title="Dashboard groups"
  description="View details of the selected group"
>
  <h1>Group Dashboard {id}</h1>
</Layout>
