---
const { url } = Astro;
console.log(url.pathname);
const isActive = (path: string) => {
  return url.pathname === path;
};

const tabOptions = [
  {
    href: '/dashboard',
    label: 'Dashboard',
    icon: 'dashboard',
  },
  { href: '/groups', label: 'Grupos', icon: 'group' },
  { href: '/activity', label: 'Actividad', icon: 'receipt_long' },
  { href: '/profile', label: 'Perfil', icon: 'person' },
];
---

<nav
  class="fixed bottom-0 left-0 right-0 mx-auto max-w-md border-t border-zinc-200 bg-white/80 backdrop-blur-lg"
>
  <div class="flex h-20 justify-around">
    {
      tabOptions.map(({ href, label, icon }) => (
        <a
          class={`flex flex-col items-center justify-center gap-1 w-full 
            ${isActive(href) ? 'text-primary' : 'text-zinc-500'}`}
          href={href}
        >
          <span class="material-symbols-outlined">{icon}</span>
          <span class="text-xs font-bold">{label}</span>
        </a>
      ))
    }
  </div>
</nav>
