---
import AdminLayout from '@/layouts/AdminLayout.astro';
---

<AdminLayout
  title="Actividad"
  description="Ver tu actividad reciente"
  backLink="/groups"
>
  <div class="bg-white rounded-xl p-6 my-4 shadow-sm">
    <p class="text-zinc-500 text-base font-normal leading-normal">
      No hay actividad reciente.
    </p>
  </div>
</AdminLayout>
