---
import GroupList from '@/components/groups/GroupList.astro';
import PageHeader from '@/components/shared/PageHeader.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Your groups" description="Manage and view your groups here">
  <PageHeader
    title="Your groups"
    pageOptionLeft="/groups"
    iconClassLeft="Groups"
    pageOptionRight="/notifications"
    iconClassRight="Notifications"
  />
  <GroupList />
  <a href="/group/new" class="mt-8">
    <button
      class="flex w-6/12 items-center justify-center gap-3 rounded-xl border-2 border-dashed border-zinc-300 dark:border-zinc-600 p-4 text-center text-zinc-500 h-20"
    >
      <span class="material-symbols-outlined text-2xl">add_circle</span>
      <span class="text-base font-bold">Crear nuevo grupo</span>
    </button>
  </a>
</Layout>
